.header {
    display: flex;
    height: 100px;

    .logoImg {
        margin-bottom: 30px;
    }

    .header_left {
        width: 341px;
        display: flex;
        align-items: center;

        ul {
            font-size: 24px;

            li:nth-child(4) {
                margin-bottom: 22px;
                margin-top: 10px;
            }

            li:nth-child(5) {
                margin-bottom: 13px;
            }

        }
    }


}

.text-dark {
    text-decoration: none;
}