.header {
    // display: flex;
    // height: 100px;
    width: 20%;
    // flex-wrap: nowrap;
    // justify-content: flex-start;
    // align-items: center;

    .logoImg {
        margin-top: 30px;
        width: 150px;

        @media screen and (min-width:1920px) {
            width: 180px;
            margin-top: 60px;
            margin-bottom: -20px;
        }

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .header_left {
        // width: 270px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
        height: calc(100vh - 80px);


        ul {
            font-size: 24px;

            li {
                line-height: 30px;
            }

            li:nth-child(4) {
                margin-bottom: 20px;
                margin-top: 10px;
            }

            li:nth-child(5) {
                margin-bottom: 10px;
            }

        }
    }


}

.text-dark {
    text-decoration: none;
}

.navbar-collapse {
    flex-basis: 50% !important;
    // align-items: flex-star !important;
    flex-grow: 0 !important;
}