.banner_search{
    position:relative;
    left: 300px;
    margin-bottom: 30px;
}
.banner {
    width: 80%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 50;
    .banner_container {
        height: 650px;
        overflow-y: scroll;
        top: 0;
        bottom: 0;
        margin: auto;
        table {
            width: 1000px;
            border: 1px solid #000;
            td {
                text-align: center;
            }
            td.banner_pic {
                padding: 10px 0;
            }
            thead {
                background: #000;
                color: $white;
                height: 50px;
                line-height: 50px;
            }
    
            tr {
                td.banner_status {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                td.banner_operate {
                    button {
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        position: relative;
                        top: 10px;
                        img {
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}
