.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 0;
    background-color: $gray_1;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    .banner_container {
<<<<<<< HEAD
        .banner_table {
            height: 650px;
            overflow-y: scroll;
            table {
                width: 1000px;
                border: 1px solid #000;
                td {
                    text-align: center;
                }
                td.banner_pic {
                    padding: 10px 0;
                }
                thead {
                    background: #000;
                    color: $white;
                    height: 50px;
                    line-height: 50px;
                }
        
                tr {
                    td.banner_status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
        
                    td.banner_operate {
                        button {
                            background: none;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            position: relative;
                            top: 10px;
                            img {
                                width: 25px;
                                height: 25px;
                                margin-right: 10px;
                            }
=======
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 50;
        height: 80%;
        width: 80%;

        .banner-btn {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        .banner_table {
            overflow-y: scroll;
            top: 0;
            bottom: 0;
            background: $white;
            height: 100%;
            width: 100%;

            table {
                width: 100%;

                thead {
                    position: sticky;
                    top: 0;
                    z-index: 99;
                    background: #000;
                    color: $white;
                    height: 50px;
                    line-height: 50px;

                    td {
                        text-align: center;

                        &:nth-child(1) {
                            padding-left: 20px;
                        }
                    }

                }

                td.banner_pic {
                    width: 280px;
                    height: 125px;

                    img {
                        width: 100%;
                    }
                }

                td.banner_operate {
                    button {
                        background: none;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        position: relative;

                        img {
                            width: 25px;
                            height: 25px;
                            margin-right: 10px;
>>>>>>> dev
                        }
                    }
                }

            }
        }
    }
}

//燈箱

.banner_lightbox {
    width: 80%;

    .banner_title {
        display: flex;

        .banner-title-bar {
            width: 100%;
            text-align: center;
            background-color: $black;
            color: $white;
            padding: 8px;
            margin: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


.form-control {
    width: 80% !important;
    display: flex;
    justify-content: center;
}

.banner-row-group {
    text-align: start;

    .banner-row {
        text-wrap: nowrap;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        strong {
            width: 120px;
            display: flex;
            justify-content: flex-start;
        }

    }

    .banner-row-btn {
        text-wrap: nowrap;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        strong {
            width: 120px;
            display: flex;
            justify-content: flex-start;
        }
    }
}