* {
    margin: 0;
    padding: 0;
}

.petition_wrap {
    // max-width: 1350px;
    width: 70%;
    margin: 50px auto 150px auto;

    // .mem-search_bar {
    //     display: flex;
    //     align-items: center;
    //     border: 1px solid #ccc;
    //     border-radius: 10px;
    //     width: 400px;
    //     overflow: hidden;
    //     margin: 40px 10% 40px 0;
    // }

    .search_text {
        background-color: $orange;
        color: white;
        line-height: 48px;
        width: 100px;
        text-align: center;
    }

    .petition-info {
        height: 650px;
        overflow: scroll;
    }
}