.donate {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 270px;
    right: 0;
    background-color: $gray_1;
    z-index: -1;

    .donate_container {
        position: absolute;
        top: 100px;
        right: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        z-index: 50;

        .donate_table {
            height: 400px;
            overflow-y: scroll;
            top: 0;
            bottom: 0;
            background: $white;

            table {
                width: 900px;

                td {
                    text-align: center;
                }

                thead {
                    background: #000;
                    color: $white;
                    height: 50px;
                    line-height: 50px;
                }

                tr {
                    td.donate_operate {
                        button {
                            background: none;
                            border: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin: auto;
                            position: relative;
                            top: 10px;

                            img {
                                width: 25px;
                                height: 25px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}