.login_wrap{  
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    .login_container {
        width: 800px;
        height: 500px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        margin: auto;
        box-shadow: 0 15px 30px rgba(0, 0, 0, .2),
                    0 10px 10px rgba(0, 0, 0, .2);
        .login_logo {
            max-width: 200px;
            img {
                width: 100%;
            }
        }
        .login_form {
            display: flex;
            flex-direction: column;
            input{
                @include input_1;
            }
            .btn {
                margin-top: 20px; 
                @include btn_4;
                a {
                    color: white;
                }
            }
    
        }
    
    }
    
}
