* {
    margin: 0;
    padding: 0;
}

.mem_wrap-group {
    width: 85%;
    background-color: #F3F5F7;
    position: fixed;
    right: 0px;

    .top_bar {
        display: flex;
        justify-content: space-between;
        background-color: $orange;
        height: 86px;
    }
}

.mem-bg {
    display: flex;
    width: 100%;
}

.mem_wrap {
    // max-width: 1350px;
    width: 70%;
    margin: 50px auto 150px auto;


    .search_text {
        background-color: $orange;
        color: white;
        line-height: 48px;
        width: 100px;
        text-align: center;
    }

    .mem-info {
        height: 650px;
        overflow: scroll;
    }
}