* {
    text-wrap: nowrap;
}

.mem_wrap {
    // max-width: 1350px;
    width: 70%;
    margin: 50px auto 150px auto;

    .search_text {
        background-color: $orange;
        color: white;
        line-height: 48px;
        width: 100px;
        text-align: center;
    }

    .mem-info {
        height: 420px;
        overflow: scroll;
    }
}

.order-modify {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    // position: relative;
    top: 10px;
    gap: 5px;
    // text-wrap: nowrap;

    img {
        width: 25px;
        height: 25px;

    }

}