* {
    margin: 0;
    padding: 0;
}

.petition_wrap {
    // max-width: 1350px;
    width: 70%;
    margin: 50px auto 150px auto;

    .search_text {
        background-color: $orange;
        color: white;
        line-height: 48px;
        width: 100px;
        text-align: center;
    }

    .petition-info {
        height: 650px;
        overflow: scroll;
    }
}